
<div class="bg-gray-100 flex items-center justify-center min-h-screen px-4 sm:px-8 md:px-16 lg:px-32">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-2xl">
        <h2 class="text-2xl font-bold mb-6 text-center">ユーザーリスト</h2>
    
        <% @persons.each do |person|  %>
            <details class="bg-gray-200 p-4 rounded-lg mb-4 shadow">
                <summary class="text-lg font-semibold cursor-pointer">
                    <%= person.family_name %> <%= person.given_name %>
                </summary>
                <% if @api_results[person.fullname] && @api_results[person.fullname].any? %>
                  <% @api_results[person.fullname].each do |api_person| %>
                    <div class="mt-2 bg-blue-100 p-4 rounded-lg shadow-md border">
                      <p class="text-sm font-bold">名前: <%= api_person[:name] %></p>
                      <p class="text-sm">連絡先: <%= api_person[:contact] %></p>
                      <p class="text-sm">説明: <%= api_person[:description] %></p>
        
                      <% if api_person[:notes].any? %>
                        <% api_person[:notes].each do |note| %>
                          <div class="mt-2 bg-gray-100 p-4 rounded-lg shadow-md border">
                            <p class="text-sm font-bold">投稿者: <%= note[:author] %></p>
                            <p class="text-sm">状態: <%= note[:status] %></p>
                            <p class="text-sm">メッセージ: <%= note[:text] %></p>
                            <p class="text-xs text-gray-500">日付: <%= note[:entry_date] %></p>
                          </div>
                        <% end %>
                      <% else %>
                        <p class="text-gray-500">ノートはありません。</p>
                      <% end %>
                    </div>
                <% end %>
                <% else %>
                    <p class="text-gray-500">データが見つかりませんでした。</p>
                <% end %>
            </details>
        <% end %>
        
        <div class="text-center mt-6">
            <a class="block bg-blue-500 text-white px-6 py-2 shadow hover:bg-blue-600 transition" href="/person/register">
                ユーザーを追加
            </a>
        </div>
    </div>
</div>